{% extends 'base.html' %}

{% block head %}

{% endblock %}


{% block body %}

	<div class="header">
		<div class="navbar">
			<h1 class="logo"> &#128681 Corona Archive
				<div class="header-right">
					<a href="{{url_for('login')}}">Log In</a>
					<a href="{{url_for('registration_navigation')}}">Sign Up</a>
				</div>
			</h1>					
		</div>
	</div>
	<center>
		<br>
		<br>
		<h2>

		The Corona Archive project is a web application which aims to control the spreading of the COVID-19 disease. 
		The project includes the tracking of users locations by their respective visiting places.
		</h3>
	</center>
	
{% endblock %}